:root {
    --header-h: 56px;
}

header {
    height: var(--header-h);
    padding: 30px;
    border: 2px solid #4f237f;
    border-radius: 20px;
    background-color: aquamarine;
    position: fixed; /* makes it fixed to the screen*/
    top: 2px;  /* sticks to the top */
    width: calc(100% - 50px); /* full size */
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: var(--header-h);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    font-size: 25px;
    color:black;
    text-decoration: none;
}
section * {
    margin-top: 5px; /*removing default margins*/
    margin-bottom: 5px;
}
section {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 150, 255);
    border-radius: 25px;
    padding: 20px; /*Inner breathging space*/
    margin: 20px auto; /*Center horizontally*/
    width: fit-content; /*as wide as needed*/
    height: auto;

}

.kast {
    text-align: center;
}

main {
    height: calc(100vh - var(--header-h)); /*Everything below header*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

input[type="submit"] {
    background-color: aquamarine;
    border: none;
    cursor:pointer;
    padding: 8px 16px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: lightpink;
}

.highlight-text {
    color:aquamarine;
}
